/* Visibility Init */
#message, #selector, #statistic, #form {
    display: none;
}

/* Floor */
#container_form {
    width: 240px;
    height: 40px;
}
.container_graph {
    width: 840px;
    height: 70px;
}

/* Seat */
a {
    display: block;
    color: #111111;
}
.seat, .seat_blank, .seat_forbid {
    display: block;
    float: left;
    font-size: 10px;
    margin: 1px;
}
.seat, .seat_forbid {
    width: 12px;
    height: 10px;
    line-height: 10px;
    color: #111111;
    border: 2px solid;
}
.seat_blank {
    width: 16px;
    height: 14px;
    line-height: 14px;
    color: none;
}
.seat_forbid {
    color: #404040;
    background: #404040;
}
.seat_label {
    float: left;
    display: block;
    font-size: 10px;
    width: 18px;
    height: 16px;
    line-height: 16px;
    color: #BA5656;
}
.seat_type_0 { background: #BAE89B; }
.seat_type_1 { background: #80AEED; }
.seat_type_2 { background: #E7EB73; }
.seat_type_3 { background: #EBB391; }
.seat_type_4 { background: #C99BE8; }
.seat_type_v { background: #FFA6B2; }
.seat_type_b_0 { border-color: #BAE89B; }
.seat_type_b_1 { border-color: #80AEED; }
.seat_type_b_2 { border-color: #E7EB73; }
.seat_type_b_3 { border-color: #EBB391; }
.seat_type_b_4 { border-color: #C99BE8; }
.seat_type_b_v { border-color: #FFA6B2; }
.seat_preserve_1 { border-color: #2D1DBF; }
.seat_preserve_2 { border-color: #AD882F; }
.seat_preserve_3 { border-color: #1A9E2A; }
.seat_preserve_4 { border-color: #D75067; }
.seat_preserve_5 { border-color: #852FAD; }
.seat_preserve_6 { border-color: #050505; }
.seat_state_1 { background: #FF7575; }
.seat_state_2 { background: #8a8a8a; }
.seat_state_b_1 { border-color: #FF7575; }
.seat_state_b_2 { border-color: #8a8a8a; }

/* Icons */
div[class^=graphicon] {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    line-height: 25px;
}
div[class^=graphlabel] {
    display: block;
    float: left;
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
    width: 80px;
    height: 25px;
    line-height: 25px;
    color: #4A4A4A;
}
.block_graph {
    float: left;
    width: 110px;
    height: 25px;
    margin: 5px;
}
.graphicon_type_0 { background: #BAE89B; }
.graphicon_type_1 { background: #80AEED; }
.graphicon_type_2 { background: #E7EB73; }
.graphicon_type_3 { background: #EBB391; }
.graphicon_type_4 { background: #C99BE8; }
.graphicon_type_v { background: #FFA6B2; }
.graphicon_preserve_0 { background: #BAE89B; }
.graphicon_preserve_1 { background: #2D1DBF; }
.graphicon_preserve_2 { background: #AD882F; }
.graphicon_preserve_3 { background: #1A9E2A; }
.graphicon_preserve_4 { background: #BF3F50; }
.graphicon_preserve_5 { background: #852FAD; }
.graphicon_preserve_6 { background: #050505; }
.showsetting {
    margin: 0 auto;
    padding-top: 15px;
    font-size: 18px;
    width: 150px;
    height: 25px;
    line-height: 25px;
    color: #4A4A4A;
}


/* Form */
#submit_change, #submit_clear {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
#submit_clear {
    background: #FFB0B0;
}
#submit_clear:hover {
    background: #FF8C8C;
}
#submit_change {
    background: #9FEDA5;
}
#submit_change:hover {
    background: #75EB7F;
}
